{{define "navbar"}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container">
    <a class="navbar-brand fw-bold text-primary-emphasis bg-light px-3 py-1 rounded-3 me-4" href="profile">
      <span style="letter-spacing: 2px;">SPIRE</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Левая часть -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-hover" href="profile">Мой профиль</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-hover" href="wall">Стена</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-hover" href="friends">Друзья</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-hover" href="faq">FAQ</a>
        </li>
      </ul>

      <!-- Правая часть -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-hover" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Войти в профиль
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Настройки профиля</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="login">Выйти из профиля</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{end}}